<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/Login" method="post" style="margin:0;">
                        <div class="form-group">
                            <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control" required minlength="3" maxlength="15"/>
                            <button type="submit" class="btn btn-primary btn-block">Enter Chat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>